{% extends "base.html" %}


{% block content %}


<div class="container mt-4">


<h2>
Welcome {{user}}
</h2>



<div class="row mt-4">


<div class="col-md-3">

<div class="card text-center shadow">

<div class="card-body">

<h5>
Open WO
</h5>

<h2>
25
</h2>

</div>

</div>

</div>



<div class="col-md-3">

<div class="card text-center shadow">

<div class="card-body">

<h5>
In Progress
</h5>

<h2>
12
</h2>

</div>

</div>

</div>



<div class="col-md-3">

<div class="card text-center shadow">

<div class="card-body">

<h5>
Completed
</h5>

<h2>
98
</h2>

</div>

</div>

</div>



<div class="col-md-3">

<div class="card text-center shadow">

<div class="card-body">

<h5>
Overdue
</h5>

<h2>
5
</h2>

</div>

</div>

</div>



</div>


</div>


{% endblock %}